aws_region              = "ap-northeast-2"
aws_profile             = "idea2strategy-terraform"
expected_aws_account_id = "__AWS_ACCOUNT_ID__"
github_repository       = "Idea2Strategy/Idea2Strategy"
github_environment      = "development"
